/* ⭐️ GENERAL */
body {
  background-color: white;
  font-family: serif;
  margin: 0px;
  padding: 0px;
  font-size: 1.3rem;
}

section {
  width: 800px;
  margin: 18px auto;
  max-width: calc(100vw - 36px);
}

.header {
  width: 200px;
  margin: auto;
  margin: 48px auto;
}

.evidence {
  text-align: center;
  font-size: 1.8rem;
}

img {
  width: 100%;
}

#home {
  position: sticky;
  bottom: 12px;
  left: 12px;
  background-color: white;
  padding: 4px;
}
